<%= form_with(model: course, local: true) do |form| %>
  <% if course.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(course.errors.count, "error") %> prohibited this course from being saved:</h2>

      <ul>
      <% course.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :code %>
    <%= form.text_field :code %>
  </div>

  <div class="field">
    <%= form.label :title %>
    <%= form.text_field :title %>
  </div>

  <div class="field">
    <%= form.label :content, 'Module Content' %><br />
    <%= form.text_area :content, cols: 60, rows: 12 %>
  </div>

  <div class="field">
    <%= form.label :information, 'Module Coordinates' %><br />
    <%= form.text_area :information, cols: 60, rows: 12  %>
  </div>

  <div class="field">
    <%= form.label :assessment, 'Module Assessment' %><br />
    <%= form.text_area :assessment, cols: 60, rows: 12  %>
  </div>

  <div class="field">
    <%= form.label :material, 'Supplementary Material' %><br />
    <%= form.text_area :material, cols: 60, rows: 12  %>
  </div>

  <div class="field">
    <%= form.file_field :supplement %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
