<p id="notice"><%= notice %></p>

<h1>
  <%= @course.code %>
  <%= @course.title %>
</h1>

<h2>Module Content</h2>
<p>
  <%= markdown(@course.content) %>
</p>

<h2>Module Coordinates</h2>
<p>
  <%= markdown(@course.information) %>
</p>

<h2>Module Assessment</h2>
<p>
  <%= markdown(@course.assessment) %>
</p>

<h2>Supplementary Material</h2>
<p>
  <%= markdown(@course.material) %>

  <ul>
    <li>
      <%= link_to @course.supplement.blob.filename, @course.supplement %>
    </li>
  </ul>
</p>

<%= link_to 'Edit', edit_course_path(@course) %> |
<%= link_to 'Back', courses_path %>
